:root
{
    --brand-color: #5694f1;
    --selection-color: #1d1d22;
    --ink-color: #3c3c3c;
    --white-color: #ffffff;
    --text-primary: #1f2020;
    --text-secondary: #464646;  
    --text-tertiary: #6c6c6c;
    --text-quaternary: #aaadb1;
    --border-light: #f2f4f7;
    --border-regular: #eef1f3;
    --border-tertiary: #dddddd;

    --table-hover: #f9fafc
}